//VARIABLES
$card-padding: 3em 2.5em;
$card-background-color: $background;
$card-box-shadow: 0px 2px 12px 0px #43434340;
$card-radius: 0px;

.wpm-card {
    background: $background;
    padding: $card-padding;
    border-radius: $card-radius;

    &.border-shadow {
        box-shadow: $box-shadow;
    }
    &.border-main {
        border: 1px solid $main;
    }

    .wpm-card-header {
        font-weight: bold;

    }

    .wpm-card-body {

    }

    .wpm-card-footer {

    }

}
