.bg__primary{
    background: $main;
}

.bg__success{

}

.text__primary{
    color: $main
}
.text__secondary{
    color: $text-color;
}
.text__success{
    color: $success;
}
.text__danger{
    color: $danger;
}


.link{
    &:hover{
        &.text__primary{
            color: darken($main, 20)
        }
        &.text__secondary{
            color: darken($text-color, 20);
        }
    }
}
