$spinner-bg-color: #ccc;

.loaderWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 285;

    &.overlayLoader, &.absoluteLoader {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &.overlayLoader {
        background: rgba(255, 255, 255, 0.65);
        z-index: 100000;
    }

    &.size-xl .loader-spinner { width: 60px; height: 60px; }
    &.size-lg .loader-spinner { width: 50px; height: 50px; }
    &.size-md .loader-spinner { width: 40px; height: 40px; }
    &.size-sm .loader-spinner { width: 30px; height: 30px; }
    &.size-xs .loader-spinner { width: 20px; height: 20px; }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader-spinner {
    border: 5px solid $spinner-bg-color;
    border-radius: 50%;
    border-top-color: $main;
    width: 40px; // Default size
    height: 40px; // Default size
    -webkit-animation: spin 2s linear infinite; // Safari
    animation: spin 2s linear infinite;
}
