.top-tabs-component {
    &__buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;
        border-bottom: 1px solid #bebebe;
    }

    &__btn {
        border-radius: 0;
        border: none;
        background: #dcdcdc;
        color: #2B3B42;
        min-width: 150px;
        font-weight: 500;
        padding: 0.75rem 1.4rem;
        outline: none !important;
        box-shadow: none;
        text-decoration: none;
        text-align: center;

        &--active {
            background-color: #2B3B42;
            color: #fff;
        }

        &:hover {
            filter: brightness(0.9);
        }
    }

    &__content {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    &__tab {
        &--hide {
            display: none;
        }
    }
}