<template>
    <div class="wpm-layout" :class="getPositionClass">
        <div class="wpm-content" :style="'width:'+width+';height:'+height">
            <slot/>
        </div>
    </div>
</template>

<script>
export default {
    name: "Layout",
    props: {
        width: {
            type: String,
            default: "100%",
        },
        height: {
            type: String,
            default: "100%",
        },
        xPosition: {
            type: String,
            default: "center"
        },
        yPosition: {
            type: String,
            default: "center",
        }
    },
    computed: {
        getPositionClass(){
            let positionClass = [];
            //HORIZONTAL
            if(this.xPosition === "center") positionClass.push("justify-content-center")
            else if(this.xPosition === "start") positionClass.push("justify-content-start")
            else if(this.xPosition === "end") positionClass.push("justify-content-end")

            //VERTICAL
            if(this.yPosition === "center") positionClass.push("align-items-center")
            else if(this.yPosition === "top") positionClass.push("align-items-top")
            else if(this.yPosition === "bottom") positionClass.push("align-items-bottom")

            return positionClass.join(" ")
        }
    }
}
</script>
