<template>
    <ModalWindow v-if="isVisible" @clickOutside="_cancel">
        <template #content>
            <div class="wpm-confirm-message">{{ message }}</div>
        </template>
        <template #footer>
            <div class="wpm-confirm-footer">
                <Button customClass="wpm-confirm-footer__button wpm-confirm-footer__button--cancel" @click="_cancel">Prekliči</Button>
                <Button customClass="wpm-confirm-footer__button wpm-confirm-footer__button--ok" @click="_confirm">Potrdi</Button>
            </div>
        </template>
    </ModalWindow>
</template>


<script>
import ModalWindow from './ModalWindow.vue';
import Button from "../Button.vue"

export default {
    name: "Confirm",
    components: { ModalWindow, Button },
    data() {
        return {
            isVisible: false,
            message: "",

            resolvePromise: undefined,
            rejectPromise: undefined,
        }
    },
    methods: {
        open(msg, okb, ckb){
            if (msg) this.message = msg;
            if (okb) this.defaultOk = okb;
            if (ckb) this.defaultCancel = ckb;
            this.isVisible = true;
            this.$emit("opened");
            return new Promise((resolve, reject) => {
                this.resolvePromise = resolve
                this.rejectPromise = reject
            })
        },
        close() {
            this.isVisible = false;
            this.$emit("closed");
        },
        _confirm() {
            this.close();
            this.resolvePromise(true);
        },

        _cancel() {
            this.close();
            this.resolvePromise(false);
        },
    }
}
</script>

<style lang="scss" scoped>

</style>