<template>
    <transition name="modal-fade">
        <div class="wpm-modal" @mousedown="$emit('clickOutside')">
            <div class="wpm-modal-window" @mousedown.stop>
                <div class="wpm-modal-window__header">
                    <slot name="header"></slot>
                </div>
                <div class="wpm-modal-window__content">
                    <slot name="content"></slot>
                </div>
                <div class="wpm-modal-window__footer">
                    <slot name="footer"></slot>
                </div>
            </div>
        </div>
   </transition>
</template>


<script>
export default {
    name: "ModalWindow",
}
</script>

<style lang="scss" scoped>


</style>