<template>
    <div class="wpm-btn-component">

        <div v-if="type==='button'">
            <button
                class="wpm-btn-component__button"
                :class="customClass"
                :disabled="disabled"
                @click="$emit('click')"
            >
                <slot/>
            </button>
        </div>
        <div v-else-if="type==='link'" style="position: relative">
            <router-link class="wpm-btn-component__button" :class="customClass" :to="to">
                <slot/>
            </router-link>
            <span v-if="disabled" class="wpm-btn-component--disabled"></span>
        </div>


        <Loader v-if="loading" size="sm" :overlay="true"/>
    </div>
</template>

<script>
/* 

Maksimilian 30.1.2024
Needs Loader imported

Example:
<Button @click="handleClick" :loading="loading" customClass="customClass">Potrdi</Button>


<style>
.customClass {
    width: 40px;
}
</style>

*/

export default {
    name: "Button",
    emits: ["click"],
    props: {
        type: {
            type: String,
            default: "button", //[link, button]
        },
        to: {
            type: [String, Object],
            default: null,
        },
        customClass: String,
        loading: Boolean,
        disabled: Boolean,
    },
}
</script>

<style scoped>

.wpm-btn-component--disabled {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.4;
}

</style>