<template>
    <div class="wpm-card">
        <div class="wpm-card-header">
            <slot name="header" />
        </div>
        <div class="wpm-card-body">
            <slot name="body" />
        </div>
        <div class="wpm-card-footer">
            <slot name="footer" />
        </div>
    </div>
</template>

<script>
export default {
    name: "Card",
    props: {

    }
}
</script>

