<template>
    <div class="input-container" style="height: auto">
        <label :class="{ 'fw-bold': boldLabel }">{{ label }}</label>
        <div
            class="input-style cursor-pointer"
            style="height: auto"
            @click="triggerInput"
            @dragover.prevent="handleDragOver"
            @drop.prevent="handleDrop"
        >
            <input
                class="d-none"
                type="file"
                ref="dragDrop"
                @change="handleFiles"
                :accept="types"
                :multiple="multiple"
            />
            <!-- Prikaz sporočila ali seznam poti do datotek -->
            <div v-if="multiple && files.length > 0 ">
                <ul>
                    <li v-for="(file, index) in files" :key="index">
                       <span @click.stop="preview(file)">
                           <span class="me-2"><i class="fa fa-link"/></span>
                           <span>{{ file.name }}</span>
                       </span>
                        <span v-if="file.can_be_deleted" class="ms-2 text-danger" @click.stop="removeFile(file, index)">
                            <i class="fa fa-times"/>
                        </span>
                    </li>
                </ul>
            </div>
            <div v-else-if="files && !multiple">
                <ul>
                    <li>
                        <span @click.stop="preview(files)">
                            <span class="me-2"><i class="fa fa-link"/></span>
                            <span>{{ files.name }}</span>
                        </span>
                        <span v-if="files.can_be_deleted"
                              class="ms-2 text-danger"
                              @click.stop="removeFile(files)"
                        >
                            <i class="fa fa-times"/>
                        </span>
                    </li>
                </ul>
            </div>
            <div v-else>
                Izberite ali povlecite dokument
            </div>
        </div>
    </div>
</template>

<script>

export default {
    name: "DragDrop",
    props: {
        label: {
            type: String,
            default: "Naložite dokument",
        },
        fileName: {
            type: String,
            default: null,
        },
        boldLabel: {
            type: Boolean,
            default: true,
        },
        types: {
            type: String,
            default: "application/*, image/*",
        },
        folder: {
            type: String,
        },
        maxSize: {
            type: Number,
            default: 4096 // Max size in kilobytes
        },
        multiple: {
            type: Boolean,
            default: false
        },
        replace: {
            type: Boolean,
            default: false,
        },
        modelValue: [Array, Object],
    },
    data() {
        return {
            files: this.modelValue,
        };
    }
    ,
    methods: {
        handleDragOver(event) {
            event.currentTarget.classList.add('drag-over');
        },
        handleDrop(event) {
            event.currentTarget.classList.remove('drag-over');
            const files = Array.from(event.dataTransfer.files); // Get files from the drop event
            this.processFiles(files); // Process the dropped files
        },
        async handleFiles(event) {
            const selectedFiles = Array.from(event.target.files);
            await this.processFiles(selectedFiles);
        },
        async processFiles(files) {
            for (const file of files) {
                if (file.size <= this.maxSize * 1024) {
                    let result = await this._uploadFile(file, this.folder, this.fileName, this.replace );
                    if (this.multiple) {
                        this.files.push(result);
                    } else {
                        this.files = result;
                    }
                    this.$emit('update:modelValue', this.files);
                    this.$emit("upload", result);
                }
            }
        },
        getFileName(filePath) {
            return filePath.split('/').pop(); // Extracts file name from path
        },
        async removeFile(filePath, index = null) {
            await this._removeFile(filePath);
            if (this.multiple) {
                this.files.splice(index, 1)
            } else {
                this.files = null;
            }
            this.$emit('update:modelValue', this.files);
            this.$emit("remove", filePath)
        },
        triggerInput() {
            this.$refs.dragDrop.click();
        },
        preview(filePath) {
            let url = filePath.url;
            let ext = filePath.extension;
            if (this.extensionIsImage(ext)) {
                // this._imagePreview(url, true);
            } else if (this.extensionIsPdf(ext)) {
                // this._togglePdfModal(url, true);
                window.open(url, "_blank");
            } else {
                this.download(url, filePath.name);
            }
        },
        extensionIsImage(ext) {
            const imageExtensions = ['jpg', 'jpeg', 'png', 'gif', 'bmp', 'tiff', 'webp'];
            return imageExtensions.includes(ext.toLowerCase());
        },
        extensionIsPdf(ext) {
            return ext.toLowerCase() === 'pdf';
        }
    },
}
;
</script>

<style lang="scss">
.input-style.drag-over {
    border-color: 2a2a2e;
    background-color: #f0f0f0;
}
</style>
