<template>
    <div class="wpm-input-component">
        <label v-if="label">{{ label }}</label>
        <div class="wpm-input-component__wrapper" :class="[ 'wpm-input-component__wrapper--' + borderType, customClass, {'error-border': error}]" :style="styles">
            <input
                :type="type"
                :placeholder="placeholder"
                :value="modelValue"
                :required="required"
                :name="name"
                :pattern="pattern"
                :maxlength="maxlength"
                @blur="$emit('blur')"
                @focus="$emit('focus')"
                @keyup.enter="$emit('enter')"
                @input="emitValue( $event.target.value)"
            />
            <span class="wpm-input-component__icon-wrapper">
                <slot></slot>
            </span>
        </div>
        <span class="error-label" v-if="error && error!== true">{{ error }}</span>

    </div>
</template>

<script>


/*

Maksimilian 31.1.2024

Examples:
<Input
    v-model="search"
    placeholder="Iskanje"
    :customClass="customClass"
>
    <span><i class="fas fa-search"></i></span>
</Input>
<Input
    v-model="search"
    placeholder="Iskanje"
    label="Iskanje"
    borderType="shadow"
    :iconFirst="true"
>
    <span><i class="fas fa-search"></i></span>
</Input>

*/

import {debounce} from "../utils";

export default {
    name: "Input",
    props: {
        error:{
            type: [String, Boolean],
            default: null,
        },
        modelValue: String | Number,
        type: {type: String, default: "text"},
        placeholder: String,
        required: {type:Boolean, default:false},
        name: String,
        pattern: String,
        label: String,
        maxlength: String,
        customClass: {type: String, default: "wpm-input-component__wrapper--default"},
        borderType: {type: String, default: "border"}, // opcije: "border", "shadow", "none"
        iconFirst: {type: Boolean, default: false}, // če je true, gre ikona na levo, pred input
    },
    methods: {
        emitValue(value){
            this.$emit('update:modelValue', value);
            this.emitDebouncedChanged(value)
        }

    },
    computed: {
        styles() {
            return {
                flexDirection: this.iconFirst ? "row-reverse" : "",
            }
        }
    },
    created() {
        this.emitDebouncedChanged = debounce((value) => {
            this.$emit('changed', value);
        }, 300);
    }
}
</script>