<template>
    <div class="loaderWrapper" :class="{overlayLoader: overlay, absoluteLoader: absolute, ['size-' + size]: size}">
        <div class="loader-spinner"></div>
    </div>
</template>

<script>
export default {
    name: "Loader",
    props: {
        overlay: Boolean,
        absolute: Boolean,
        size: String // 'xl', 'lg', 'md', 'sm', 'xs'
    }
}
</script>