<template>
    <div class="popup-container" v-click-outside="close">
        <div class="popup-trigger" @click="togglePopup">
            <slot name="trigger"></slot>
        </div>
        <div v-if="isPopupVisible" class="popup-content" ref="popupContent" >
            <div class="popup-header">
                <span class="popup-close" @click="close"><i class="fa fa-times"/></span>
            </div>
            <slot name="content"></slot>
        </div>
    </div>
</template>

<script>
import {ClickOutsideDirective} from "../directives";

export default {
    name: "Popup",
    data() {
        return {
            isPopupVisible: false
        };
    },
    directives: {
        ClickOutsideDirective
    },
    methods: {
        togglePopup() {
            this.isPopupVisible = !this.isPopupVisible;
        },
        close(){
            this.isPopupVisible = false;
        }
    },
}
</script>

