<template>
    <div class="wpm-scroll">
        <div class="wpm-scroll__content" @scroll="handleScroll">
            <slot></slot>
        </div>
    </div>
</template>

<script>
/**
 * Slot component which makes an "overflow-y: auto" section anywhere you need it.
 */

export default {
    name: "Scroll",
    methods: {
        handleScroll(event) {
            const scrollTop = event.target.scrollTop;
            const scrollHeight = event.target.scrollHeight;
            const clientHeight = event.target.clientHeight;
            // Calculate how far scrolled from the top in percentage
            const scrollPercentage = (scrollTop / (scrollHeight - clientHeight)) * 100;
            // Emit event when scrolled to bottom or within 5% of the bottom
            if (scrollPercentage >= 99 || scrollTop + clientHeight >= scrollHeight - 1) {
                this.$emit("bottom");
            }
        }
    },
}
</script>

<style lang="scss" scoped>
/**
* Styles are included in file because all of them are necessary for functionality.
*/

.wpm-scroll {
    position: relative;
    height: 100%;

    &__content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow-y: auto;
        overflow-x: hidden;
    }
}
</style>