<template>
    <div class="admin-shop__box-shadow p-3">
        <loader v-if="loading" />
        <slot v-else></slot>
    </div>
</template>

<script>
export default {
    name: "Section",
    props: {
        loading: {
            type: Boolean,
            default: false
        }
    }
}
</script>

<style lang="scss" scoped>

</style>
