<template>
    <div class="wpm-table-container"
         :class="['wpm-table-container__' + theme, {'wpm-table-container--scrollable': scrollable }]"
         :style="'height: ' + height">
        <loader v-if="searching" :overlay="true"/>
        <component :is="scrollable ? 'Scroll' : 'div'" @bottom="$emit('bottom')">
            <table>
                <thead>
                <tr>
                    <th v-for="(column, index) in columns" :key="index + '-col-' + column.key">{{ column.name }}</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(row, rowIndex) in rows" :key="rowIndex + '-row-' + row.id" @click="handleClick(row)" :class="[{'cursor-pointer': clickable}, rowClass(row, rowIndex)]">
                    <td v-for="(column, colIndex) in columns" :key="colIndex + '-rowcol-' + row.id">
                        <span v-if="column.name && colIndex > 0"
                              class="wpm-table__mobile-name">{{ column.name }}:</span>
                        <slot :name="column.key" :row="row"></slot>
                    </td>
                </tr>
                <tr v-if="appending">
                    <td :colspan="columns.length">
                        <loader/>
                    </td>
                </tr>
                <tr v-else-if="!appending && !searching && !rows.length">
                    <td :colspan="columns.length">
                        Ni rezultatov
                    </td>
                </tr>
                </tbody>
                <tfoot v-if="foot" class="wpm-table-container__footer">
                <tr>
                    <!-- <td v-for="(column, colIndex) in columns" :key="colIndex + '-footcol'">
                        <slot :name="'foot'+column.key"></slot>
                    </td> -->
                    <slot name="foot"></slot>
                </tr>
                </tfoot>
            </table>
        </component>
    </div>
</template>

<script>
/*

Maksimilian 30.1.2024

Primer:
<Table :columns="tableColumns" :rows="tableRows" theme="box-shadow">
    <template v-slot:number="{row}"><strong>Naročilnica {{row.number}}</strong></template>
    <template v-slot:status="{row}">{{row.status}} 0</template>
    <template v-slot:supplier="{row}">{{row.supplier}}</template>
    <template v-slot:date="{row}">{{row.date}}</template>
    <template v-slot:actions="{row}">
        <div class="text-end">
            <Button @click="handleTable(row)">Preglej</Button>
        </div>
    </template>
</Table>

data() {
    return {
        tableColumns: [
            { name: 'Številka naročilnice', key: 'number' },
            { name: 'Status', key: 'status' },
            { name: 'Dobavitelj', key: 'supplier' },
            { name: 'Datum naročila', key: 'date' },
            { name: '', key: 'actions' },
        ],
        tableRows: [
            { id: 1, number: "1/2023-05", status: 'open', supplier: "Hofer", date: "15.5.2025" },
            { id: 2, number: "1/2023-06", status: 'closed', supplier: "Kmetija", date: "15.5.2025" },
            { id: 3, number: "1/2023-07", status: 'open', supplier: "Mlekarna", date: "15.5.2025" },
            { id: 4, number: "1/2023-08", status: 'closed', supplier: "Sirarna", date: "15.5.2025" },
        ],
    }
}

*/
import Scroll from "./Scroll.vue";

export default {
    name: "Table",
    components: {Scroll},
    props: {
        columns: Array,
        rows: Array,
        theme: {type: String, default: "default"}, // null or "box-shadow"
        foot: Boolean,
        appending: Boolean,
        searching: Boolean,
        scrollable: Boolean,
        height: String,
        clickable: Boolean,
        rowClassCallback: {
            type: Function,
            default: null
        }
    },
    methods: {
        handleClick(row) {
            if (this.clickable)
                this.$emit("clicked", row);
        },
        rowClass(row, rowIndex) {
            // Dynamic styling of single row. Example in wpm-cashier (PosOrders)
            if (this.rowClassCallback) {
                return this.rowClassCallback(row, rowIndex);
            }
            return '';
        }
    }
}
</script>

<style lang="scss" scoped>

.wpm-table-container {
    width: 100%;
    overflow-y: auto;
    padding: 0 5px;
    position: relative;
}

table {
    width: 100%;
    border: none;
    margin-bottom: 1em;
}

th {
    border-bottom: 1px solid #dcdcdc;
}

tfoot tr {
    border-top: 1px solid #dcdcdc;
    font-weight: bolder;
}

th, td {
    padding: 0.5rem 0.2rem;
}

/* "box-shadow" styles */

.wpm-table-container__box-shadow table {
    border-collapse: separate;
    border-spacing: 0 1em;
}

.wpm-table-container__box-shadow th,
.wpm-table-container__box-shadow td {
    padding: 0.9rem 1.3rem;
}

.wpm-table-container__box-shadow th {
    padding-bottom: 0;
    border: none;
}

.wpm-table-container__box-shadow tbody tr {
    box-shadow: 0px 2px 12px 0px #43434340;
    background: #fff;
}

/* end of "box-shadow" styles */

.wpm-table__mobile-name {
    display: none;
}

@media (max-width: 768px) {

    thead {
        display: none;
    }

    .wpm-table-container__default tbody tr {
        border-bottom: 1px solid #dcdcdc;
    }

    td {
        display: flex;
        width: 100%;
        box-sizing: border-box;
        padding: 0.3rem 1.3rem !important;
    }

    tbody td:first-child {
        padding-top: 1.1rem;
        font-size: 1.1em;
    }

    tbody td:last-child {
        padding-bottom: 1.1rem;
    }

    .wpm-table__mobile-name {
        display: unset;
        padding-right: 0.2rem;
    }
}

.wpm-table-container--scrollable {
    $side-padding: 6px;
    height: 100%;

    table {
        min-height: min-content;
        padding-left: $side-padding;
        padding-right: $side-padding;

        thead tr th {
            position: sticky;
            top: 0;
            background: #fff;
            padding-bottom: 0.9rem;
            z-index: 100;
            box-shadow: 0px 0px 0px $side-padding #fff;
        }
    }
}

</style>

<style>
/* Footer je urejen preko slota zato stili ne smejo biti scoped */
.wpm-table-container .wpm-table-container__footer td {
    padding: 0.5rem 0.2rem;
}

@media (max-width: 768px) {

    .wpm-table-container .wpm-table-container__footer tr {
        display: flex;
    }

    .wpm-table-container .wpm-table-container__footer td:last-child {
        margin-left: auto;
    }
}
</style>
