<template>
    <div class="wpm-input-component">
        <label v-if="label">{{ label }}</label>
        <div class="wpm-input-component__wrapper">
            <div class="toggle-switch" :class="{ disabled: disabled }">
                <div
                    v-for="(option, index) in options"
                    :key="getOptionKey(option, index)"
                    @click="toggleOption(option)"
                    :class="[
                'toggle-switch__option',
                {
                    active: isActive(option),
                    disabled: isDisabled(option)
                }
            ]"
                >
                    {{ getOptionLabel(option) }}
                </div>
            </div>
        </div>
    </div>
</template>


<script>
export default {
    name: "Toggle",
    props: {
        label: {
            type: String,
            default: null,
        },
        disabled: {
            type: Boolean,
            default: false
        },
        options: {
            type: Array,
            required: true,
        },
        modelValue: String | Number | Boolean,
    },
    methods: {
        toggleOption(option) {
            if (this.disabled || this.isDisabled(option)) {
                return;
            }
            this.$emit('update:modelValue', this.getOptionValue(option));
        },
        isActive(option) {
            return this.modelValue === this.getOptionValue(option);
        },
        isDisabled(option) {
            return typeof option === 'object' && option.disabled;
        },
        getOptionLabel(option) {
            return typeof option === 'object' ? option.label : option;
        },
        getOptionValue(option) {
            if (option !== null && typeof option === 'object') {
                return option.value;
            }
            return Boolean(option);
        },
        getOptionKey(option, index) {
            return typeof option === 'object' ? option.value : index;
        },
    },
};
</script>
