<template>
    <div class="top-tabs-component">
        <div class="top-tabs-component__buttons" v-if="asRoute">
            <router-link v-for="(tab, idx) in tabFormat" :key="idx" class="top-tabs-component__btn mobile-full-width"
                         :class="{'top-tabs-component__btn--active': currentTab(tab)}"
                         :to="{ path: $router.path, query: {tab: tab.tab_key} }"><span v-if="icons" class="mr-2">
                     <i :class="tab.icon"></i></span>{{ tab.tab_label }}
            </router-link>
        </div>
        <div class="top-tabs-component__buttons" v-else>
            <button v-for="(tab, idx) in tabFormat" :key="idx" class="top-tabs-component__btn mobile-full-width"
                    :class="currentTab(tab) ? 'top-tabs-component__btn--active' : ''" @click="changeTab(tab.tab_key)"><span
                v-if="icons" class="mr-2"><i :class="tab.icon"></i></span>{{ tab.tab_label }}
            </button>
        </div>

        <div class="top-tabs-component__content">
            <div v-for="(tab, idx) in tabFormat" :key="idx" class="top-tabs-component__tab"
                 :class="!currentTab(tab) ? 'top-tabs-component__tab--hide' : ''">
                <slot :name="tab.tab_key" v-if="currentTab(tab)"></slot>
            </div>
        </div>

    </div>
</template>


<script>
export default {
    name: "TopTabs",
    props: {
        tabFormat: Array,
        icons: Boolean,
        setTab: String | Number,
        asRoute: {
            type: Boolean,
            default: false,
        }
    },
    data() {
        return {
            current_tab: this.setTab || this.tabFormat[0].tab_key,
        };
    },
    methods: {
        changeTab(tab) {
            this.current_tab = tab;
            this.$emit("tab", tab);
        },
        currentTab(tab) {
            if (this.asRoute) {
                return this.$route.query.tab === tab.tab_key;
            } else {
                return this.current_tab === tab.tab_key;
            }
        }
    },
    created() {
        if (!this.asRoute) {
            this.current_tab = this.setTab || this.tabFormat[0].tab_key
        }
    },
    watch: {
        setTab() {
            if (this.setTab != this.current_tab)
                this.current_tab = this.setTab;
        }
    }
};
</script>

<style lang="scss" scoped>
</style>
